<%= will_paginate soci, :renderer => BootstrapPagination::Rails  %>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
      <th><%= model_class.human_attribute_name(:socio) %></th>
      <th><%= model_class.human_attribute_name(:codsocio) %></th>
      <th><%= model_class.human_attribute_name(:codtessera) %></th>
      <th><%= model_class.human_attribute_name(:datanascita) %></th>
      <th><%= model_class.human_attribute_name(:sezione) %></th>
    </tr>
  </thead>
  <tbody>
    <% soci.each do |socio| %>
      <tr>
        <td>
          <%= link_to t('.registra', :default => t("helpers.links.register")),
                      registra_path(socio), :class => 'btn btn-mini btn-success' %>
        </td>
        <td><%= socio.socio %></td>
        <td><%= socio.codsocio %></td>
        <td><%= socio.codtessera %></td>
        <td><%= socio.datanascita %></td>
        <td><%= socio.sezione %></td>
      </tr>
    <% end %>
  </tbody>
</table>
