<%= will_paginate soci, :renderer => BootstrapPagination::Rails  %>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
      <th>Socio</th>
      <th>Nato</th>
      <th>Sezione</th>
    </tr>
  </thead>
  <tbody>
    <% soci.each do |socio| %>
      <tr>
        <td>
          <%= link_to t('.registra', :default => t("helpers.links.register")),
                      registra_path(socio), :class => 'btn btn-mini btn-success' %>
        </td>
        <td><%= socio.socio %></td>
        <td><%= socio.datanascita.strftime("%d/%m/%Y") unless !socio.datanascita %></td>
        <td><%= socio.sezione %></td>
      </tr>
    <% end %>
  </tbody>
</table>
