<%- model_class = Presenza -%>
<div class="row">
  <div class="span3">
    <%= image_tag('Logo_Coop_Liguria.gif',:size => "146x100", :class => 'img-polaroid') %>
  </div>
  <div class="span9">
    <h1><%= @assemblea.nome %></h1>
    <h3>Assemblea del <%= @assemblea.data.strftime("%d/%m/%Y") %></h3>
  </div>
</div>
<div class="row top-buffer">
  <div class="span12">
    <%= form_tag presenze_path, :method => 'get' do %>
      <p>
        <%= text_field_tag :search %>
        <%= submit_tag "Cerca", :name => nil %>
      </p>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="span8">
    <%= render 'elencosoci', :soci => @soci, :model_class => model_class unless @soci.nil? %>
  </div>
  <div class="span4">
    <table class="table table-striped">
      <thead>
        <tr colspan=3>
          <th>Elenco presenti</th>
        </tr>
      </thead>
      <tbody>
        <% @presenze.each do |presenza| %>
          <tr>
            <td><%= presenza.socio.socio %></td>
            <td><%= presenza.delegato %></td>
            <td>
              <%= link_to t('.destroy', :default => t("helpers.links.destroy")    ),
                          presenza_path(presenza),
                          :method => :delete,
                          :data => { :confirm => t('.confirm', :default => t("    helpers.links.confirm", :default => 'Are you sure?    ')) },
                          :class => 'btn btn-mini btn-danger' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>    
  </div>
</div>
