<%- model_class = Presenza -%>
<div class="row">
  <div class="span2">
    <%= image_tag('Logo_Coop_Liguria.gif',:size => "146x100", :class => 'img-polaroid') %>
  </div>
  <div class="span2">
    <%= image_tag(@assemblea.sezione.foto.url(:thumb), :class => 'img-polaroid') %>
  </div>
  <div class="span8">
    <h1><%= @assemblea.nome %></h1>
    <h3>Assemblea del <%= @assemblea.data.strftime("%d/%m/%Y") %></h3>
  </div>
</div>
<div class="row top-buffer">
  <div class="span4">
    <%= form_tag presenze_path, :method => 'get' do %>
      <p>
        <%= text_field_tag :search %>
        <%= submit_tag "Cerca", :name => nil %>
      </p>
    <% end %>
  </div>
  <div class="span8">
    <%= render 'layouts/messages' %>
  </div>
</div>
<div class="row">
  <div class="span6">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Elenco presenti</th>
          <th>Ora arrivo</th>
          <th>Delegato</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @presenze.each do |presenza| %>
          <tr<%= ' class=info' if presenza.isdelegato=="SI" %>>
            <% if @assemblea.generale %>
              <td><%= presenza.delegato.socio %></td>
            <% else %>
              <td><%= presenza.socio.socio %></td>
            <% end %>
            <td><%= presenza.created_at.strftime("%H:%M") %></td>         
            <td><%= presenza.isdelegato %></td>
            <td>
              <%= link_to t('.destroy', :default => t("helpers.links.destroy")    ),
                          presenza_path(presenza),
                          :method => :delete,
                          :data => { :confirm => t('.confirm', :default => t("    helpers.links.confirm", :default => 'Are you sure?    ')) },
                          :class => 'btn btn-mini btn-danger',
                          :style => 'display: none;' %>
              <%= link_to t('delegato'),
                          delega_path(presenza.socio,presenza),
                          :class => 'btn btn-mini btn-warning' unless @assemblea.generale %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>    
  </div>
  <div class="span6">
    <%= render 'elencosoci', :soci => @soci, :model_class => model_class unless @soci.nil? %>
  </div>
</div>
