<div class="row">
  <div class="span6">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Elenco presenti</th>
          <th>Ora arrivo</th>
          <th>Delegato</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @presenze.each do |presenza| %>
          <tr<%= ' class=info' if presenza.isdelegato=="SI" %>>
            <td><%= presenza.socio.socio %></td>
            <td><%= presenza.created_at.strftime("%H:%M") %></td>        
            <td><%= presenza.delegato.socio if presenza.delegato %></td>
            <td>
              <%= link_to t('.destroy', :default => t("helpers.links.destroy")    ),
                          presenza_path(presenza),
                          :method => :delete,
                          :data => { :confirm => t('.confirm', :default => t("    helpers.links.confirm", :default => 'Are you sure?    ')) },
                          :class => 'btn btn-mini btn-danger',
                          :style => 'display: none;' %>
              <%= link_to t('delegato'),
                          delega_path(presenza.socio,presenza),
                          :class => 'btn btn-mini btn-warning' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>    
  </div>