<%= will_paginate soci, :renderer => BootstrapPagination::Rails  %>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:socio) %></th>
      <th><%= model_class.human_attribute_name(:codsocio) %></th>
      <th><%= model_class.human_attribute_name(:codtessera) %></th>
      <th><%= model_class.human_attribute_name(:datanascita) %></th>
      <th><%= model_class.human_attribute_name(:sezione) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% soci.each do |socio| %>
      <tr>
        <td><%= link_to socio.socio, socio_path(socio) %></td>
        <td><%= socio.codsocio %></td>
        <td><%= socio.codtessera %></td>
        <td><%= socio.datanascita %></td>
        <td><%= socio.sezione %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_socio_path(socio), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      socio_path(socio),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_socio_path,
            :class => 'btn btn-primary' %>
