<%- model_class = Delegato -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:socio) %>:</strong></dt>
  <dd><%= @delegato.socio %></dd>
  <dt><strong><%= model_class.human_attribute_name(:codsocio) %>:</strong></dt>
  <dd><%= @delegato.codsocio %></dd>
  <dt><strong><%= model_class.human_attribute_name(:codtessera) %>:</strong></dt>
  <dd><%= @delegato.codtessera %></dd>
  <dt><strong><%= model_class.human_attribute_name(:datanascita) %>:</strong></dt>
  <dd><%= @delegato.datanascita %></dd>
  <dt><strong><%= model_class.human_attribute_name(:sezione) %>:</strong></dt>
  <dd><%= @delegato.sezione %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              delegati_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_delegato_path(@delegato), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              delegato_path(@delegato),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
