<%= link_to "Home", root_path, :class => 'brand' %>
<ul class="nav">
  <% if user_signed_in? %>
    <li>
      <%= link_to('Assemblee', assemblee_path) %>
    </li>
    <li>
      <%= link_to('Presenze', presenze_path) %>
    </li>
    <li>
      <%= link_to('Soci', soci_path) %>
    </li>
    <li>
      <%= link_to('Edit account', edit_user_registration_path) %>
    </li>
    <li>
      <%= link_to('Logout', destroy_user_session_path, :method=>'delete') %>
    </li>
    <% if session[:assemblea_id] %>
      <li>
          <%= link_to('Assemblea in corso: ' + Assemblea.find(session[:assemblea_id]).nome, '#', :class => 'text-info', :id => 'curasname') %> 
      </li>
    <% end %>
  <% else %>
    <li>
      <%= link_to('Login', new_user_session_path)  %>
    </li>
    <li>
      <%= link_to('Sign up', new_user_registration_path)  %>
    </li>
  <% end %>
</ul>
